body {
  font-family: 'Montserrat', sans-serif;
}
.header {
  margin-top: 25px;
  height: 70px;
}
.header .logo {
  width: 153px;
}
.header a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 20px;
}
.header .nav-block {
  text-align: center;
}
.header .nav-block .nav {
  display: inline-block;
  margin-top: 20px;
}
.header .nav-block .nav a {
  padding: 10px 10px;
  border-bottom: 1px solid transparent;
  transition: all .3s;
}
.header .nav-block .nav a:hover {
  border-bottom: 1px solid #000;
}
.header .nav-block .nav .ml {
  margin-left: 10px;
}
.header .phone {
  margin-top: 18px;
  width: 100%;
}
.header .phone a {
  width: 100%;
  text-align: right;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
}
.redbtn {
  position: relative;
  font-size: 18px;
  background-color: #F03957;
  padding: 18px 20px;
  border-radius: 10px;
  color: #fff;
  transition: all .3s;
  border: 2px solid #F03957;
  z-index: 4;
}
.redbtn:hover {
  background-color: #fff;
  color: #F03957;
}
.whitebtn {
  position: relative;
  font-size: 18px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 18px 20px;
  transition: all .3s;
  z-index: 4;
}
.whitebtn:hover {
  background-color: #000;
  color: #fff;
}
.main {
  padding-top: 94px;
}
.main .title {
  display: inline-block;
  margin-top: 91px;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}
.main .subtitle {
  margin-top: 15px;
  font-weight: 500;
  font-size: 30px;
  color: #817979;
}
.main button {
  display: inline-block;
  margin-top: 90px;
}
.main .main-image {
  text-align: right;
  z-index: 5;
  padding-bottom: 160px;
}
.main .main-image img {
  display: inline-block;
  width: 90%;
}
red {
  color: #F03957;
}
.services {
  background-color: #525252;
  padding-top: 80px;
  padding-bottom: 80px;
}
.services-title {
  padding-bottom: 80px;
}
.services-title h1 {
  color: #F7F5F5;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 45px;
}
.services-title .subtitle {
  color: #F7F5F5;
  margin-top: 31px;
}
.services-block {
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
}
.services-block h2 {
  padding-top: 60px;
  font-weight: 600;
  font-size: 30px;
}
.services-block p {
  padding-top: 25px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
}
.services-block .whitebtn {
  margin-bottom: 80px;
}
.services-block .image-block {
  text-align: center;
}
.services-block .image-block img {
  margin-top: 62px;
  display: inline-block;
}
.services-block .image-block .phone {
  margin-top: 79px;
}
.services-block .image-block .tv {
  width: 288px;
}
@media (max-width: 1399px) {
  .main .main-image img {
    width: 110%;
    transform: translateX(-10%);
  }
  .services .services-block .image-block .phone {
    margin-top: 79px;
  }
}
@media (max-width: 1199px) {
  .header .logo {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .header .nav-block {
    text-align: left;
  }
  .main {
    background-image: url("../img/header1.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    text-align: center;
    background-blend-mode: multiply;
    margin-top: 100px;
    padding-bottom: 50px;
  }
  .main .title {
    margin-top: -80px;
    color: #fff;
  }
  .main .subtitle {
    color: rgba(255, 255, 255, 0.64);
  }
  .main .redbtn:hover {
    background-color: transparent;
  }
  .main .whitebtn {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    transition: all .3s;
  }
  .main .whitebtn:hover {
    background-color: #fff;
    color: #000;
  }
  .main .main-image-block {
    display: none;
  }
  .services .services-title h1,
  .services .services-title .subtitle {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .header .logo {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .header .phone {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .header .phone a {
    text-align: center;
  }
  .header .nav-block {
    text-align: center;
  }
  .main button {
    margin-top: 20px;
  }
  .services .services-block .image-block .phone {
    margin-top: 106px;
  }
  .services .services-block .image-block .electro {
    width: 100%;
    margin-top: 140px;
  }
}
@media (max-width: 767px) {
  .header .logo {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .header .phone {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .header .phone a {
    text-align: center;
  }
  .services .services-block {
    text-align: center;
  }
  .services .services-block .image-block .phone {
    margin-top: -78px;
  }
  .services .services-block .image-block .tv {
    margin-top: -65px;
  }
  .services .services-block .image-block .audio {
    margin-top: -60px;
  }
  .services .services-block {
    display: flex;
    flex-flow: wrap;
  }
  .services .services-block .text-block {
    order: 1;
  }
  .services .services-block .image-block {
    order: 2;
  }
  .services .services-block .image-block img {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .header .logo {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .header .phone {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */